body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
}

#logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#logo {
    height: 100px;
}

#video-container {
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#orders-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 26, 0.8);
    padding: 20px;
    z-index: 1;
}

#orders {
    text-align: center;
}

#orders h2 {
    color: #f2a20c;
    border-bottom: 2px solid #f2a20c;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#order-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

ul li {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: background 0.3s;
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lufga', sans-serif;
}

ul li:hover {
    background: #444;
}

.pending {
    background-color: orange;
}

.finished {
    background-color: green;
}

.order-number {
    font-size: 2em;
    font-family: 'Posey', sans-serif;
    margin-bottom: 10px;
}

.order-time, .order-status {
    font-size: 1.5em;
    margin-bottom: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f2a20c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

button:hover {
    background-color: #e59400;
}

#order-ready-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 3em;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#order-ready-content {
    font-family: 'Posey', sans-serif;
    animation: fadeIn 1s ease-in-out;
}

.blur {
    filter: blur(5px);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
